{
	email "leevi@ahola.im"
}

:80 {
	root * /var/www/html
	file_server

	handle_errors {
		rewrite * /502.html
		file_server
	}

	reverse_proxy localhost:8080 {
		transport http {
			dial_timeout 5s
			read_timeout 10s
			write_timeout 10s
			max_conns_per_host 100
		}
	}
}

:81 {
	reverse_proxy localhost:9001 {
		transport http {
			dial_timeout 5s
			read_timeout 10s
			write_timeout 10s
			max_conns_per_host 50
		}
	}
}
